spring:
  ai:
    dashscope:
      api-key: ${DASHSCOPE_API_KEY}
      chat:
        options:
          model: qwen3-max
    alibaba:
      toolcalling:
        tavilysearch:
          api-key: ${TAVILY_API_KEY}
server:
  port: 8081